body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.container {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
}

header,
footer {
  height: 10vh;
  background-color: crimson;
}

main {
  flex: 2;
  background-color: green;
}

nav,
aside {
  flex: 1;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  main,
  nav,
  aside {
    flex: auto;
  }
}
