@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --rtc-primary-color: #1090cb;
  --rtc-secondary-color: #000000;
  --rtc-teritiary-color: #ffffff;
  --rtc-background-color: #1090cb2b;
}

#hero {
  background-color: var(--rtc-background-color);
  display: flex;
  align-items: center;
  min-height: 100svh;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
}

/* izquierda */
.info {
  width: 40%;
  min-width: 516px;
}

/* derecha */
#hero > img {
  width: 30%;
  max-width: 500px;
  min-width: 300px;
}

.info > h1 {
  font-size: 40px;
}

.info > h1 > span {
  color: var(--rtc-primary-color);
}

.buttons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

button {
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
}

.buttons > button:first-child {
  background-color: var(--rtc-primary-color);
  color: var(--rtc-teritiary-color);
  border: 1px solid var(--rtc-primary-color);
}

.buttons > button:last-child {
  background-color: var(--rtc-teritiary-color);
  color: var(--rtc-primary-color);
  border: 1px solid var(--rtc-primary-color);
}

@media (max-width: 570px) {
  .info > h1 {
    font-size: 30px;
  }
  .info {
    width: 100%;
    min-width: 0px;
  }
}
